
@import "navigation";

// Navigation overrides
#navigation {
  .header {
    height: 110px;
    background: black;
    margin-bottom: 20px;
    
    .header-inner {
      
      a.brand {
        
        margin-right: 40px;
        position: relative;
        bottom: 5px;
      }
      
      .features {
        ul.thumbnails {
          margin-top: 50px;
        }
      }
      
      .social-media {
        margin-top: 40px;
      }
      
    }
    
  }// end .header
}// end #navigation
