<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Curse Bootstrap Experiment</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="Themelize.me">

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="assets/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="assets/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>
</head>

<body class="page page-index">
<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top"> 
    
   
    <!--Header & Branding region-->
    <div class="header">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span8"> 
            <!--branding/logo--> 
            <a class="brand" href="index.htm" title="Home">
              <img src="assets/curse_logo.png" />
            </a>
            
            
            <div class="features">
              <ul class="thumbnails">
                <li class="span1"> <a href="features.htm"><img src="" alt="Feature 1" /></a>
                  
                </li>
                <li class="span1"> <a href="features.htm"><img src="" alt="Feature 2" /></a>
                </li>
                <li class="span1"> <a href="features.htm"><img src="" alt="Feature 3" /></a>
                </li>
                <li class="span1"> <a href="features.htm"><img src="" alt="Feature 4" /></a>
                </li>
              </ul>
            </div>
            
            
          </div>
          
          <!--header rightside-->
          <div class="span4">            
            <!--social media icons-->
            <div class="social-media pull-right"> 
              <!--@todo: replace with company social media details--> 
              <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-linkedin"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-inner"> 
        
        <!--mobile collapse menu button--> 
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
        
        <!--user menu-->
        <ul class="nav user-menu pull-right">
          <li><a href="signup.htm" class="btn btn-primary signup">Sign Up</a></li>
          <li class="dropdown"> <a href="login.htm" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <form action="login.htm" class="form-inline" id="login-form-drop" role="menuitem">
                <div class="input-append">
                  <input type="text" class="input-small email" placeholder="Email">
                  <input type="password" class="input-small password" placeholder="Password">
                  <input type="button" class="btn btn-primary login" value="Login">
                </div>
              </form>
              <span class="divider" role="menuitem"></span> <small role="menuitem">Not a member? <a href="#" class="signup">Sign up now!</a></small> <small role="menuitem"><a href="#">Forgotten password?</a></small> </div>
          </li>
        </ul>
        
        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse"> 
          
          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="#"><i class="icon-home hidden-phone"></i><span class="visible-phone">Home</span></a></li>
            <li><a href="#" class="menu-item">News</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle menu-item" id="features-drop" data-toggle="dropdown">Tier List +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                <li role="menuitem"><a href="about.htm" tabindex="-1" class="menu-item">Solo Tier List</a></li>
                <li role="menuitem"><a href="team.htm" tabindex="-1" class="menu-item">Jungle Tier List</a></li>
                <li role="menuitem"><a href="contact.htm" tabindex="-1" class="menu-item">Competitive Tier List</a></li>
              </ul>
            </li>
            <li><a href="#" class="menu-item">Red Tracker</a></li>
            <li><a href="#" class="menu-item">Videos</a></li>
            <li><a href="#" class="menu-item">Streams</a></li>
            <li class="dropdown"> <a href="about.htm" class="dropdown-toggle" id="about-drop" data-toggle="dropdown">Forums +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                <li role="menuitem"><a href="about.htm" tabindex="-1" class="menu-item">About Us</a></li>
                <li role="menuitem"><a href="team.htm" tabindex="-1" class="menu-item">Our Team</a></li>
                <li role="menuitem"><a href="contact.htm" tabindex="-1" class="menu-item">Contact</a></li>
              </ul>
            </li>
            <li><a href="#" class="menu-item">Store</a></li>
            
            
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Reign of Gaming Forums</a> <span class="divider">/</span></li>
     <li><a href="#">League of Legends</a> <span class="divider">/</span></li>
      <li><a href="#">General Discussions</a> <span class="divider">/</span></li>
    <li class="active">Is Hercarim balanced? UP? or OP?</li>
  </ul>
</div>


<div id="content">
  <div class="container">
    
    
    
    
    <div class="row"> 
           
      
      <!--Main Content-->
      <div class="span12 blog-post"> 
        
        
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">07</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Erin</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <h3 class="title media-heading">Is Hercarim balanced? UP? or OP?</h3>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Mon 7th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Erin</a></li>
              </ul>
              <p class="lead">Some lead text here to get attention</p>
              <p>Montes cursus, turpis scelerisque adipiscing vel in. Ultrices platea ridiculus nascetur vut aliquet odio vel placerat! A, ultricies augue turpis scelerisque, porta diam ac! Pulvinar pulvinar enim odio enim dictumst, amet lorem aliquet ut rhoncus! Nisi. Ut aliquet non tincidunt, sit proin. Vel egestas, urna non tincidunt tincidunt, ultricies et vut placerat dis ac porttitor, in, facilisis. Etiam?</p>
              <p>Egestas scelerisque, vel auctor rhoncus. Urna penatibus, velit dis, non parturient scelerisque ac tempor a enim? Aenean? Urna dictumst, enim nec odio, turpis. Magnis tempor mus, egestas integer sit eu eu lectus vel. Hac lorem aliquet nec mattis, purus parturient in pulvinar nascetur aliquam! Sed cursus? Pid, nec eros quis, tincidunt odio pellentesque integer, porta, nunc? Duis aenean! In tortor risus enim.</p>
              <p>Sed elit ac? Vel parturient magna placerat non etiam.</p>
            </div>
          </div>
        </div>
        
        <!--Comments-->
        <div class="comments" id="comments">
          <h3>Comments</h3>
          
          <div class="row-fluid">
            <div class="pagination span12">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
           </div> 
          
          <ul class="media-list">
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="assets/team/deniro.jpg" alt="Picture of Erin" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 24th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">potlik</a></li>
                </ul>
                <h5 class="media-heading">a nec in sed hac ultrices cursus</h5>
                <p>anyone know?</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="assets/team/deniro.jpg" alt="Picture of Tom" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Tue 15th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Misticaltom</a></li>
                </ul>
                <h5 class="media-heading">Turpis odio dictumst tempor ac et!</h5>
                <p>My vote is for OP, because he lacks a true counter meta-wise.   His primary weakness is stupid and or passive team mates, and they've buffed his early game so he's far safer than he used to be.</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="assets/team/bono.jpg" alt="Picture of Joe" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Fri 11th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">endoxosable</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>
                  I'd say he is in a good spot right now. The nerfs to his W made his end-game sustain a bit less crazy, while I think they also buffed his Q damage in early levels to make it a bit more safe. Not sure about that though. He is still a very strong pick, but not overpowered, and definitely not underpowered.
                </p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="assets/team/bono.jpg" alt="Picture of Jo" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 5th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Taistelumuumio</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Yes, everyone knows.</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="assets/team/deniro.jpg" alt="Picture of Jo" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 3rd Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">outerraven</a></li>
                </ul>
                <h5 class="media-heading">Enim augue elit adipiscing placerat natoque</h5>
                <p>
                  Balanced. Despite the current meta favoring him, he's still a snowball reliant jungler. He's a high risk/high reward jungler, where he needs to go balls deep in order to get the snowball effect going. If he succeeds in his ganks, he'll become quite hard to deal with. On the other hand, if he falls behind, it's very hard to crawl out of that pit, since he needs to get into the middle of the enemy team and STAY there more than 2 seconds in order for him to do his thing.
                </p>
              </div>
            </li>
            
          </ul>
          
           <div class="row-fluid">
            <div class="pagination span12">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
           </div> 
          
          
          <div class="comment-form">
            <form id="comment-form">
              <fieldset>
                <legend>Add Comment</legend>
                <input type="text" class="input-block-level" placeholder="Name">
                <br />
                <input type="text" class="input-block-level" placeholder="Email">
                <br />
                <textarea rows="8" class="input-block-level" placeholder="Comment"></textarea>
                <label class="checkbox">
                  <input type="checkbox">
                  Subscribe to updates </label>
                <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      
     
    </div>
  </div>
</div>
</html>